footer.footer
  .footer-container
    .footer-logo
      a(href="/" class="footer-link") Axewood Veterinary Clinic
    .footer-info
      p.footer-text 123 Pet Street, Animal City
      p.footer-text Phone: (123) 456-7890
      p.footer-text Email: info@axewoodvet.com
    .footer-social
      a(href="#" class="social-link"): i.fab.fa-facebook
      a(href="#" class="social-link"): i.fab.fa-instagram
      a(href="#" class="social-link"): i.fab.fa-twitter
  .footer-copyright
    p &copy; #{new Date().getFullYear()} Axewood Veterinary Clinic. All rights reserved.