nav
  .nav-container
    .logo
      a(href="/" class="main-link") Axewood
    ul.nav-list
      if user
        if user.role === 'Admin'
          li: a(href="/admin/dashboard" class="nav-link") Admin panel
        if user.role === 'Vet' || user.role === 'Manager'
          li: a(href="/employee/appointments" class="nav-link") Appointments
          li: a(href="/employee/clients" class="nav-link") Clients
          li: a(href="/employee/pets" class="nav-link") Pets
        if user.role === 'Client'
          li: a(href="/pets" class="nav-link") Pets
          li: a(href="/appointments" class="nav-link") Appointments
          li: a(href="/profile" class="nav-link") Profile
    .buttons  
      if user
        button.logout(id="logout-button") Выход
      else
        button.signin(id="signin-button") Login
        button.registration(id="signup-button") Registration
  script.
    window.BACKEND_URL = '!{process.env.BACKEND_URL}';      
  script(src="/js/menu.js")
