doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/layout.css")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/auth.css")
  body
    include ../partials/menu.pug
    block content
    include ../partials/footer.pug