header.admin-header
  .logo: a(href="/" class="main-link") Axewood Admin
  nav
    ul
      if user.role === 'Admin' || user.role === 'Manager' || user.role === 'Vet'
        li: a(href="/employee/clients" class="nav-link") Clients
        li: a(href="/employee/pets" class="nav-link") Pets
        li: a(href="/employee/appointments" class="nav-link") Appointments
      if user.role === 'Admin'
        li: a(href="/admin/users" class="nav-link") Users
        li: a(href="/admin/templates" class="nav-link") Mail templates
      if user.role === 'Admin'
        li: a(href="/admin/schedules" class="nav-link") Schedules
  .user-menu
    span.username= user.name
    button.logout(id="logout-link") Logout
  script(src="/js/menu.js")